<h1 class='text mb-3'>{{title}}</h1>
<h4>Choose one  😀</h4>
<ul class='list-group'>
    {{#each terms}}
    <label><input type="radio" name="mode" value="off"> {{term}}</label><br>
    {{/each}}
</ul>
<form id='submit-form'>
    <button class="btn btn-primary">Submit</button>
</form>

<script>
document.getElementById("submit-form").addEventListener(
    'submit', function(e){
  e.preventDefault()
  alert('submit-form')
  return false
})
</script>
