<h1 class='text mb-3'>{{title}}</h1>
<h4>Choose one  😀</h4>
<script>
    function submitForm() {
       const checked = document.forms['submit-form'].submit()
    }
</script>
<form id='submit-form'>
<ul class='list-group'>
    <label><input type="radio" name="term" value="off"> Coffee and a chat</label><br>
    <label><input type="radio" name="term" value="off"> Dinner and a movie</label><br>
    <label><input type="radio" name="term" value="off"> NetFlix and chill</label><br>
    <label><input type="radio" name="term" value="off"> Random adventure</label><br>

</ul>
    <button class="btn btn-primary">Submit</button>
</form>

<script>
document.getElementById("submit-form").addEventListener(
    'submit', function(e){
  e.preventDefault()
  alert('submit-form')
  return false
})
</script>
